
body{
    font-family: Verdana, Arial, sans-serif !important;
    font-size: 14pt !important;
    font-weight: bold !important;
    height: none !important;
    background-color: #272825;
}

.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper {
    background-color: #272825;
    color: #F59117;
    text-shadow: none;
}

.ui-mobile, .ui-mobile body {
    height: auto;
}

.ui-mobile label, div.ui-controlgroup-label {
    font-size: 14pt;
    font-weight: bold;
}

.ui-body-a, .ui-overlay-a { 
	background-color: #272825;
}

.ui-mobile-viewport-transitioning, .ui-mobile-viewport-transitioning .ui-page { 
	background-color: #272825;
}

.ui-page-theme-a .ui-btn, .ui-page-theme-a .ui-btn:visited {
    background-color: #5d5d5b;
    border-color: #000;
    color: #f59117;
    text-shadow: none;
}

.ui-page-theme-a .ui-btn:hover {
    background-color: #5d5d5b;
    border-color: #000;
    color: #f59117;
    text-shadow: none;
}

.ui-body-a, .ui-page-theme-a .ui-body-inherit, html .ui-bar-a .ui-body-inherit, html .ui-body-a .ui-body-inherit, html body .ui-group-theme-a .ui-body-inherit, html .ui-panel-page-container-a {
    background-color: #5d5d5b;
    border-color: #000;
    color: #f59117;
    text-shadow: none;
}


.ui-page-theme-a .ui-btn.ui-btn-active {
    background-color: #5d5d5b;
    border-color: #000;
    color: #f59117;
    text-shadow: none;
}

.ui-page-theme-a .ui-btn:focus, .ui-page-theme-a .ui-focus {
    box-shadow: 0 0 12px #f59117;
}

.ui-widget-content {
    background: #272825;
    border: 1px solid #000;
    color: #f59117;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: #5d5d5b;
    border: 1px solid #000;
    color: #f59117;
    font-weight: normal;
}

.ui-widget-header {
    background: #5d5d5b;
    border: 1px solid #000;
    color: #f59117;
    font-weight: bold;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    background: #7d7d7c;
    border: 1px solid #f59117;
    color: #f59117;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    background: #7d7d7c;
    border: 1px solid #000;
    color: #f59117;
    font-weight: normal;
}

.ui-bar-a, .ui-page-theme-a .ui-bar-inherit, html .ui-bar-a .ui-bar-inherit, html .ui-body-a .ui-bar-inherit, html body .ui-group-theme-a .ui-bar-inherit {
    background-color: #272825;
    border-color: #272825;
    color: #f59117;
    font-weight: 700;
    text-shadow: none;
}

.ui-btn.ui-input-btn{
    background-color: #f59117;
    border-color: #000;
    color: #5d5d5b;
    text-shadow: none;
    width: 25%;
    height: 22px;
    font-weight: 700;
    font-size: 16px;
}

.ui-btn.ui-input-btn:visited{
    background-color: #f59117;
    border-color: #000;
    color: #5d5d5b;
    text-shadow: none;
}

.ui-btn.ui-input-btn:hover{
    background-color: #f59117;
    border-color: #000;
    color: #5d5d5b;
    text-shadow: none;
}

.ui-btn.ui-input-btn.ui-btn-active{
    background-color: #d07609;
    border-color: #000;
    color: #5d5d5b;
    text-shadow: none;
}

.ui-popup{
    padding: 15px;
}

.icone{
	font-size: 90px;
    text-align: center;
    padding-top: 75px;
    color: #f59117;
}

.icone-voltar{
	font-size: 35px;
    color: #f59117;
}

.icone-com-titulo{
	font-size: 90px;
    text-align: center;
    padding-top: 35px;
    color: #f59117;
}

.fieldzao{
	width: 100%;
	clear: both;
    padding-top: 10px;
}

.fieldumquarto{
	float: left;
	width: 25%;
}

.fieldmeio{
	float: left;
	width: 50%;
}

.fieldtresquartos{
	float: left;
	width: 75%;
}

.fieldinteiro{
	float: left;
	width: 100%;
}

.input{
    width: 98%;
}

.input input{
    background-color: #5d5d5b;
    border-color: #000;
    color: #f59117;
    text-shadow: none;
}

.select{
    width: 99%;
}

.input textarea{
    background-color: #828281;
    color: #fff;
}

.label{

}

a:link, a:visited, a:active {
	text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.title{
	padding-top: 10px;
	text-align: center;
}

